<ul class="social_net animate__animated animate__fadeInUp animate__delay-2s" id="social_networks">
  <li class="social_net_item" title="Github">
    <a href="https://github.com/krisemm" target="_blank">
      <i class="fab fa-github fa-lg"></i>
    </a>
  </li>
  <li class="social_net_item" title="Twitter">
    <a href="https://twitter.com/_kristianEmm" target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
  </li>
  <li class="social_net_item" title="Linkedin">
    <a href="https://www.linkedin.com/in/krisemm" target="_blank">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
  </li>
  <li class="social_net_item" title="Gmail">
    <a href="mailto:kristian.emm@gmail.com">
      <i class="fas fa-envelope fa-lg"></i>
    </a>
  </li>
  <li class="social_net_item" title="Download cv">
    <a href="../../../assets/files/CV-Cristian_Emmanuel_Castillo_Medina.pdf" target="_blank">
      <i class="fas fa-download fa-lg"></i>
    </a>
  </li>
  <div class="social_net_line"></div>
</ul>
