<header>
  <div class="header">
    <div class="header_logo" title="KrisEmm">
      <a class="header_logo_image" routerLink="">
        <img alt="logo_image" src="https://krisemm.github.io/krisemm-portfolio/assets/logo.svg" id="logo">
      </a>
      <a class="header_logo_text" routerLink="">
        <p id="text-logo-1">hey,</p>
        <p id="text-logo-2">que tal!</p>
      </a>
    </div>
    <div class="header_options" id="options-header">
      <div class="header_download">
        <a class="" routerLink="">
          Inicio
        </a>
        <a class="" routerLink="about">
          Acerca
        </a>
        <a class="" routerLink="skills">
          Habilidades
        </a>
        <a class="" routerLink="projects">
          Proyectos
        </a>
        <a class="" routerLink="contact">
          Contacto
        </a>
      </div>
      <div class="header_line"></div>
    </div>
    <i class="header_menu_icon fas fa-2x" [ngClass]="isActivated ? 'fa-times' : 'fa-bars'" (click)="showMenu()"></i>
  </div>
  <app-menu [show]="isActivated" (changeMenuIcon)="showMenu()"></app-menu>
</header>
