@import 'src/theme';
.skills{
  display: flex;
  padding: 0 1.5rem;
}
.skills-column-a{
  flex-basis: 45%;
}
.skills-column-b{
  flex-basis: 55%;
}
.skills-caption {
  font-family: "font-primary-title-3", sans-serif;
  font-size: 1.8rem;
  color: $second-dark-color;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
  text-align: center;
}
.skills-subtitle {
  font-family: "font-primary-subtitle-2", sans-serif;
  font-size: 1.1rem;
  color: $first-color;
  line-height: 0.2;
  text-align: center;
}
.skills-text{
  font-family: "font-primary-control-1", sans-serif;
  font-size: 1.1rem;
  color: $second-color;
  padding-top: 2rem;
  text-align: center;
  &::first-letter {
    font-size: 1.5rem;
    color: $second-dark-color;
  }
}
.skills-list{
  list-style: none;
  margin-top: 1rem;
  border-right: 1px solid $first-color;
}
.skills-item{
  font-family: "font-primary-control-1", sans-serif;
  font-size: 1.1rem;
  color: $first-color;
  cursor: pointer;
  padding: 1rem 0.6rem;
  text-align: right;
  &-active{
    color: $second-dark-color;
    font-size: 1.1rem;
    text-decoration: dashed;
  }
  &:hover{
    color: $second-dark-color;

  }
}
#about_dev_text {
  font-family: "font-primary-subtitle-2", sans-serif;
  font-size: 2.5rem;
  line-height: 0.8;
  color: $onBackground-color;
  text-align: right;
  text-transform: capitalize;
}

#about_tech_text {
  font-family: "font-primary-subtitle-1", sans-serif;
  font-size: 2rem;
  color: $onBackground-color;
  text-align: right;
  text-transform: capitalize;

}
.tools-and-techs{
  position: relative;
  &:before{
    content: "";
    width: 85%;
    height: 80vh;
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: -1;
    opacity: 0.3;
    background-color: #F1F1F1;
    background-image: radial-gradient(#909090 1.75px, #F1F1F1 1.75px);
    background-size: 40px 40px;
  }
}

.courses-list{
  list-style: none;

}
.course{
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 1px solid $first-light-color;
}
.course-name{
  font-family: "font-primary-title-2", sans-serif;
  font-size: 1rem;
  color: $second-color;
  cursor: pointer;
  &:hover{
    color: $first-color;
  }
}
.course-company{
  font-family: "font-primary-control-2", sans-serif;
  font-size: 0.9rem;
  color: $second-light-color;
  padding-right: 2rem;
}
.course-info{
  display: flex;
  padding-left: 0.2rem;
}
.course-certificated{
  font-family: "font-primary-control-1", sans-serif;
  font-size: 0.9rem;
  color: $first-color;
  &:hover{
    color: $second-dark-color;
  }
}
@include mediaQuery("mobile-portrait"){
  .skills{
    flex-direction: column;
    padding: 0 1rem;
  }
  .course{
    width: 95%;
  }
  .tools-and-techs{
    padding-top: 1rem;
  }
}
@include mediaQuery("mobile-landscape"){
  .skills{
    flex-direction: column;
    padding: 0 1rem;
  }
  .course{
    width: 95%;
  }
  .tools-and-techs{
    padding-top: 1rem;
  }
}
@include mediaQuery("tablet-portrait"){
  main{
    height: auto;
  }
  .skills{
    flex-direction: column;
  }
}
@include mediaQuery("tablet-landscape"){
  .courses{
    max-height: 80vh;
    overflow-y: hidden;
    &:hover{
      overflow-y: scroll;
    }
    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: $first-light-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $first-dark-color;
    }
  }
}
@include mediaQuery("desktop"){
  .courses{
    max-height: 80vh;
    overflow-y: hidden;
    &:hover{
      overflow-y: scroll;
    }
    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: $first-light-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $first-dark-color;
    }
  }
}
@include mediaQuery("full"){
  .courses{
    max-height: 80vh;
    overflow-y: hidden;
    &:hover{
      overflow-y: scroll;
    }
    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: $first-light-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $first-dark-color;
    }
  }
}
