<div class="skills">
    <div class="skills-column-a">
        <h1 class="skills-caption animate__animated animate__fadeInRight">Habilidades</h1>
        <h2 class="skills-subtitle animate__animated animate__fadeInLeft">Constantemente trabajo en la superación
            personal</h2>
        <p class="skills-text animate__animated animate__fadeInLeft animate__delay-1s">
            Soy una persona trabajadora, entusiasta y de rápido aprendizaje. Estoy altamente motivado y continuamente
            busco mejorar profesionalmente. Soy capaz de trabajar de forma independiente y en equipo con una meticulosa atención a los detalles.
        </p>
        <ul class="skills-list"  >
            <li #skillTabs
                class="skills-item skills-item-active animate__animated animate__fadeInLeft animate__delay-2s"
                (click)="handleChangeTab($event,'toolsAndTechs')"
            >
                Herramientas y tecnologías con las que he trabajando recientemente
            </li>
            <li #skillTabs class="skills-item animate__animated animate__fadeInLeft animate__delay-3s"
                (click)="handleChangeTab($event,'courses')"
            >
                Cursos de formación online que he tomado
            </li>
        </ul>
    </div>
    <div class="skills-column-b">
        <div class="courses animate__animated animate__fadeIn" *ngIf="(tabName === 'courses')">
            <ul class="courses-list">
                <li class="course" *ngFor="let course of courses">
                    <a href="{{course.url_course}}" target="_blank">
                        <h1 class="course-name">
                            {{course.name}}
                        </h1>
                    </a>
                    <div class="course-info">
                        <h2 class="course-company">{{course.company}}</h2>
                        <a class="course-certificated" href="{{course.url_certificated}}" target="_blank">online certificated</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tools-and-techs animate__animated animate__fadeInUp" *ngIf="(tabName === 'toolsAndTechs')">
            <p class="animate__animated animate__fadeInTopRight" id="about_dev_text">Frontend</p>
            <p class="animate__animated animate__fadeInBottomLeft" id="about_tech_text">html</p>
            <div class="about_content_image-techs animate__animated animate__fadeInUp">
                <app-robot-techs></app-robot-techs>
            </div>
        </div>
    </div>
</div>
