@import 'src/theme';

.portfolio_title{
  font-family: "font-primary-title-3", sans-serif;
  font-size: 1.8rem;
  color:$second-dark-color;
  text-align: center;
}
.portfolio_subtitle{
  font-family: "font-primary-subtitle-2", sans-serif;
  font-size: 1.1rem;
  line-height: 0.2;
  text-align: center;
  color:$first-color;
  padding-bottom: 1.5rem;
}
.portfolio_search{
  margin-bottom: 0.5rem;
  input{
    background-color: $background-color;
    color: $first-light-color;
    appearance: none;
    outline: none;
    font-family: "font-primary-title-3", sans-serif;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid $first-light-color;
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
.portfolio_list_basic_filters{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
.portfolio_filter_by_tags {
  font-family: "font-primary-control-1", sans-serif;
  font-size: 0.9rem;
  color: $first-color;
  cursor: pointer;
  text-align: center;
  padding-top: 0.5rem;
  padding-right: 1rem;
  &:hover {
    color: $second-light-color;
  }
}
.portfolio_basic_filter_item{
  font-family: "font-primary-control-1", sans-serif;
  font-size: 0.9rem;
  color:$first-color;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid $first-light-color;
  &:hover{
    color: $surface-color;
    background-color: $second-color;
    border: 1px solid $second-color;

  }
  &-active{
    color: $surface-color;
    background-color: $second-color;
    border: 1px solid $second-color;
  }
}
.portfolio_list{
  list-style: none;
  margin: 1rem auto 2rem;
  width: 55%;

  padding: 0 1rem;
}
.portfolio_item{
  margin-bottom: 1rem;
  border: 1px solid $first-light-color;
  padding: 1rem 1.2rem;
}
.portfolio_item_not_found{
  font-family: "font-primary-control-1", sans-serif;
  font-size: 1rem;
  color: $second-color;
  text-align: center;
}
.portfolio_item_name{
  font-family: "font-primary-title-2", sans-serif;
  font-size: 1rem;
  color: $second-color;
}
.portfolio_item_paragraph{
  font-family: "font-primary-control-1", sans-serif;
  font-size: 1rem;
  color: $second-color;
}
.portfolio_item_links{
  margin-bottom: 0.5rem;

  a {
    font-family: "font-primary-control-1", sans-serif;
    font-size: 0.9rem;
    color: $first-color;
  }
  a:hover{
    color: $second-color;
  }
}
.portfolio_item_tags{
  list-style: none;
  display: flex;
  padding-top: 0.1rem;

  li {
    font-family: "font-primary-control-1", sans-serif;
    font-size: 0.9rem;
    color: $second-color;
    margin-right: 0.8rem;
  }
  li:first-of-type{
    padding-left: 0;
  }
}
@include mediaQuery("mobile-portrait"){
  .portfolio_list_basic_filters{
    width: 100%;
  }
  .portfolio_search{
    input{
      width: auto;
    }
  }
  .portfolio_list{
    width: 100%;
  }
}
@include mediaQuery("mobile-landscape"){
  .portfolio_list_basic_filters{
    width: 100%;
  }
  .portfolio_search{
    input{
      width: auto;
    }
  }
  .portfolio_list{
    width: 100%;

  }
}
@include mediaQuery("tablet-portrait"){
  .portfolio_list_basic_filters{
    width: 100%;
  }
  .portfolio_search{
    input{
      width: auto;
    }
  }
  .portfolio_list{
    height: 100vh;

  }
}
@include mediaQuery("tablet-landscape"){
  .portfolio_list_basic_filters{
    width: 100%;
  }
  .portfolio_search{
    input{
      width: auto;
    }
  }
  .portfolio_list{
    height: 100vh;

  }
}
@include mediaQuery("desktop"){
  .portfolio_list{
    height: 100vh;
    overflow-y: hidden;
    &:hover{
      overflow-y: scroll;
    }
    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: $first-light-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $first-dark-color;
    }
  }
}
@include mediaQuery("full"){
  .portfolio_list{
    height: 100vh;
    overflow-y: hidden;
    &:hover{
      overflow-y: scroll;
    }
    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: $first-light-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $first-dark-color;
    }
  }
}
