<div #portfolio class="portfolio">
    <h1 class="portfolio_title animate__animated animate__fadeInDown">
        Portafolio
    </h1>
    <h2 class="portfolio_subtitle animate__animated animate__fadeInUp">
        Si puedes imaginarlo, puedes programarlo.
    </h2>
    <div class="animate__animated animate__fadeInUp animate__delay-1s">
        <div class="portfolio_search ">
            <input type="search" name="" id="" placeholder="Buscar..." (input)="handleInputChange($event)">
            <p class="portfolio_filter_by_tags"
               (click)="handleClickTagFilter()">{{showTagFilter ? 'ocultar tags' : 'filtrar por tags'}}</p>
        </div>
        <ul class="portfolio_list_basic_filters"
            [ngStyle]="{'display': showTagFilter ? 'flex' : 'none'}"
        >
            <li #defaultTag (click)="handleClickTag($event, 'All')"
                class="portfolio_basic_filter_item portfolio_basic_filter_item-active">Todos
            </li>
            <li (click)="handleClickTag($event, 'Javascript')"
                class="portfolio_basic_filter_item">Javascript
            </li>
            <li (click)="handleClickTag($event, 'Typescript')"
                class="portfolio_basic_filter_item">Typescript
            </li>
            <li (click)="handleClickTag($event, 'Nodejs')"
                class="portfolio_basic_filter_item">Nodejs
            </li>
            <li (click)="handleClickTag($event, 'Express')"
                class="portfolio_basic_filter_item">Express
            </li>
            <li (click)="handleClickTag($event, 'Angular')"
                class="portfolio_basic_filter_item">Angular
            </li>
            <li (click)="handleClickTag($event, 'React')"
                class="portfolio_basic_filter_item">React
            </li>
            <li (click)="handleClickTag($event, 'Spring Boot')"
                class="portfolio_basic_filter_item">Spring Boot
            </li>
            <li (click)="handleClickTag($event, 'Java')"
                class="portfolio_basic_filter_item">Java
            </li>
            <li (click)="handleClickTag($event, 'Html')"
                class="portfolio_basic_filter_item">Html
            </li>
            <li (click)="handleClickTag($event, 'CSS')"
                class="portfolio_basic_filter_item">CSS
            </li>
            <li (click)="handleClickTag($event, 'MVC')"
                class="portfolio_basic_filter_item">MVC
            </li>
            <li (click)="handleClickTag($event, 'Hexagon Architecture')"
                class="portfolio_basic_filter_item">Hexagon Architecture
            </li>
            <li (click)="handleClickTag($event, 'DDD')"
                class="portfolio_basic_filter_item">DDD
            </li>
            <li (click)="handleClickTag($event, 'CQRS')"
                class="portfolio_basic_filter_item">CQRS
            </li>
        </ul>
    </div>
    <ul class="portfolio_list animate__animated animate__fadeInUp animate__delay-2s">
        <li class="portfolio_item" *ngFor="let project of projects">
            <h3 class="portfolio_item_name">
                {{project.name}}
            </h3>
            <p class="portfolio_item_paragraph">
                {{project.description}}
            </p>
            <div class="portfolio_item_links" >
                <a href="{{link.url}}" *ngFor="let link of project.links" target="_blank">{{link.value}}</a>
            </div>
            <ul class="portfolio_item_tags" >
                <li *ngFor="let tag of project.tags">{{tag}}</li>
            </ul>
        </li>
        <li>
            <p class="portfolio_item_not_found" *ngIf="projects.length === 0">No se encontraron resultados</p>
        </li>
    </ul>
</div>
