<div class="about-info-text">
    <h2 class="about_overline animate__animated animate__fadeInLeft animate__delay-1s">Who am I</h2>
    <h1 class="about_caption animate__animated animate__fadeInRight animate__delay-1s">About me</h1>
    <div class="about-text animate__animated animate__fadeInUp">
        <p class="about-paragraph ">
            I am an Industrial Robotics Engineer. However, my passion is creating web applications. Recently started my journey as a software developer and I am looking for a job opportunity.
        </p>
          <p class="about-paragraph">
              I have been working on some personal projects posted to my Github repository and I try to keep myself up to date on the latest technologies and tool by taking online courses.
          </p>
        <p class="about-paragraph">
            My goal is to participate in the creation of applications or systems that are scalable and efficient using clean architectures.
        </p>
    </div>
</div>
<app-companies class="about-image animate__animated animate__fadeInDown"></app-companies>
<app-robot-automovil class="about animate__animated animate__fadeIn animate__delay-2s"></app-robot-automovil>

<!--
I am an Industrial Robotics Engineer. I have worked as a support engineer in the maintenance and programming of industrial robots for companies in the automotive industry.

However, my passion is creating web applications. Recently started my journey as a software developer and I am looking for a job opportunity.

I have been working on some personal projects posted to my Github repository and I try to keep myself up to date on the latest technologies and tool by taking online courses.

My goal is to participate in the creation of applications or systems that are scalable and efficient using clean architectures.-->
