@font-face {
    font-family: "font-default";
    src:url("../assets/fonts/Poppins/Poppins-Regular.ttf");
};
@font-face {
    font-family: "font-primary-display-1";
    src:url("../assets/fonts/Poppins/Poppins-Medium.ttf");
};
@font-face {
    font-family: "font-primary-display-2";
    src:url("../assets/fonts/Poppins/Poppins-Regular.ttf")
};
@font-face {
    font-family: "font-primary-title-1";
    src:url("../assets/fonts/Poppins/Poppins-Medium.ttf")
};
@font-face {
    font-family: "font-primary-title-2";
    src:url("../assets/fonts/Poppins/Poppins-Regular.ttf")
};
@font-face {
    font-family: "font-primary-title-3";
    src:url("../assets/fonts/Poppins/Poppins-Light.ttf")
};
@font-face {
    font-family: "font-primary-subtitle-1";
    src:url("../assets/fonts/Poppins/Poppins-Thin.ttf")
};
@font-face {
    font-family: "font-primary-subtitle-2";
    src:url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf")
};
@font-face {
    font-family: "font-primary-text-1";
    src:url("../assets/fonts/Poppins/Poppins-Thin.ttf")
};
@font-face {
    font-family: "font-primary-text-2";
    src:url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf")
};
@font-face {
    font-family: "font-primary-control-1";
    src:url("../assets/fonts/Poppins/Poppins-Light.ttf")
};
@font-face {
    font-family: "font-primary-control-2";
    src:url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf")
};

@font-face {
    font-family: "font-auxiliary-1";
    src:url("../assets/fonts/Prata/Prata-Regular.ttf")
};
@font-face {
    font-family: "font-auxiliary-2";
    src:url("../assets/fonts/Roboto/Roboto-Thin.ttf")
};
@font-face {
    font-family: "font-auxiliary-3";
    src:url("../assets/fonts/Roboto/Roboto-Bold.ttf")
};
