<nav class="menu" [ngClass]="{'show-menu': show}">
  <ul class="menu_navigation">
    <li class="menu_item" (click)="goto('home')">Inicio</li>
    <li class="menu_item" (click)="goto('about')">Acerca</li>
    <li class="menu_item" (click)="goto('skills')">Habilidades</li>
    <li class="menu_item" (click)="goto('projects')">Proyectos</li>
    <li class="menu_item" (click)="goto('contact')">Contacto</li>
    <li class="menu_item" (click)="goto('download')">Descargar CV</li>
  </ul>
  <div class="menu_links">
    <a href="https://github.com/krisemm" target="_blank">
      <i class="fab fa-github fa-lg"></i>
    </a>
    <a href="https://twitter.com/_kristianEmm" target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.linkedin.com/in/krisemm" target="_blank">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
  </div>
</nav>
